a:hover {
    text-decoration: none;
}

.project-creation {
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
}

.form-horizontal .control-label {
    text-align:left;
    display: inline-block;
}

.create-project-button {
    margin-top: 40px;
}

.project-header {
    display: inline-block;
}

.project-header:hover {
    color: #ffff00;
    cursor: pointer;
    cursor: hand;
}

.projects-nav-button-forward, .projects-nav-button-backward {
    display: none;
}

.project-individual-container {
    margin-left: 10px;
}

.project-name {
    text-transform: capitalize;
}
