body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    color: #006400;
}

.google-login-button {
    background: none!important;
    border: none;
    font:  inherit;
    cursor: pointer;
    margin-top: 10px;
}
