{% extends 'main.html' %}

{% block title %}Time Tracker{% endblock %}

{% block content %}
    <div class="container">
        <!-- Our posts will be loaded into this container -->
        <div id="postsContainer"></div>

        <!-- This form will be used to add new posts -->
        <form id="newPostForm">
            <div><textarea name="content" class="form-control" rows="3"></textarea></div>
            <div id="anonymousSubmit">
                <input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook Anonymously">
                - or -
                <button type="button" class="btn btn-large btn-danger" id="googleSignInButton">Sign-in with Google</button>
            </div>
            <div id="authedSubmit" style="display: none;">
                <input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook as Yourself">
                - or -
                <button type="button" class="btn btn-large btn-danger" id="googleSignOutButton">Sign-out</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="static/js/index.js"></script>
{% endblock %}
