<!DOCTYPE html>
<html>
<head>
    <title>Guestbook Example with Ferris</title>
    <!-- load bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
</head>
<body>

    <div class="container">
        <!-- Our posts will be loaded into this container -->
        <div id="postsContainer"></div>

        <!-- This form will be used to add new posts -->
        <form id="newPostForm">
            <div><textarea name="content" class="form-control" rows="3"></textarea></div>
            <div id="anonymousSubmit">
                <input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook Anonymously">
                - or -
                <button type="button" class="btn btn-large btn-danger" id="googleSignInButton">Sign-in with Google</button>
            </div>
            <div id="authedSubmit" style="display: none;">
                <input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook as Yourself">
                - or -
                <button type="button" class="btn btn-large btn-danger" id="googleSignOutButton">Sign-out</button>
            </div>
        </form>
    </div>

    <!-- Load jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Application Logic -->
    <script src="static/js/load_endpoint.js"></script>
    <script src="static/js/google_sign_in.js"></script>
    <script src="static/js/index.js"></script>

    <!-- Load Google Javascript Library -->
    <script src="https://apis.google.com/js/client.js?onload=on_gapi_loaded"></script>
</body>
</html>
