<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- application css -->
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'common/navbar.html' %}


    {% block content %}
    {% endblock %}

    <!-- Load jQuery, bootstrap js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script scr="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Load Endpoint -->
    <script src="static/js/load_endpoint.js"></script>

    <!-- Google auth2 -->
    <script src="static/js/google_sign_in.js"></script>

    <!-- Application Logic -->
    <script src="static/js/project_search.js"></script>
    {% block scripts %}
    {% endblock %}

    <!-- Load Google Javascript Library -->
    <script src="https://apis.google.com/js/client.js?onload=on_gapi_loaded"></script>
</body>

</html>
